[submodule "algorithms/gssw"]
	path = algorithms/gssw
	url = https://github.com/vgteam/gssw.git
[submodule "algorithms/gwfa"]
	path = algorithms/gwfa
	url = https://github.com/lh3/gwfa.git
[submodule "algorithms/ksw2"]
	path = algorithms/ksw2
	url = https://github.com/lh3/ksw2.git
[submodule "algorithms/csswl"]
	path = algorithms/csswl
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
[submodule "algorithms/edlib"]
	path = algorithms/edlib
	url = https://github.com/Martinsos/edlib.git
